[piterjs_meetup_page] {
	flex: 1 1 400px;
}

[piterjs_meetup_page_date] {
	padding: .5rem;
	font-weight: normal;
}

[piterjs_meetup_page_speeches] {
	padding: .5rem;
}

[piterjs_meetup_page_speech] {
	padding: 0;
}
