[piterjs_meetup_page] {
	flex: 0 0 28rem;
}

[piterjs_meetup_page_info] {
	display: flex;
	flex-direction: column;
	padding: .75rem;
}

[piterjs_meetup_page_translation] {
	margin: 0 .75rem;
	font-weight: bolder;
}

[piterjs_meetup_page_description] {
	box-shadow: none;
	padding: 0;
}

[piterjs_meetup_page_title] {
	flex: 1000 1 auto;
}

[piterjs_meetup_page_date] {
	padding: .5rem .75rem;
	font-weight: normal;
}

[piterjs_meetup_page_speeches] {
	padding: .75rem;
}
