[piterjs_others_event] {
	display: flex;
	flex-wrap: wrap;
	padding: .5rem;
}

[piterjs_others_event_title] {
	padding: 0 .25rem;
	flex: 1000 1 50%;
	white-space: normal;
}

[piterjs_others_event_date] {
	padding: 0 .25rem;
	flex: 0 0 6rem;
	color: var(--mol_theme_shade);
}

[piterjs_others_event_location] {
	padding: 0 .25rem;
	flex: 1 0 10rem;
	color: var(--mol_theme_shade);
}
