[piterjs_place_page] {
	flex: 1000 0 60rem;
}

[piterjs_place_page_tools] {
	flex-grow: 0;
}

[piterjs_place_body_content] {
	align-self: stretch;
}

[piterjs_place_page_map] {
	border-radius: var(--mol_gap_round);
	overflow: hidden;
}

