[piterjs_now] {
	font-size: 1em;
	padding: 0;
	align-items: stretch;
	background: none;
	flex: 1000 0 30rem;
	position: relative;
	animation: none !important;
}

[piterjs_now_lights] {
	position: absolute;
	top: .75rem;
	right: .75rem;
}

[piterjs_app_placeholder] {
	flex: 1000 1 0;
}

[piterjs_now_title] {
	flex: 1000 1 auto;
	padding-right: 0;
}

[piterjs_now_body_content] {
	display: flex;
	padding: 0;
}

[piterjs_now_screen] {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	background: none;
}

[piterjs_now_logo] {
	box-shadow: none;
	width: 30vmin;
	margin: 1rem;
	animation: piterjs_now_logo_show .250s ease-out;
}

[piterjs_app_now_logo_angles] {
	fill: #FFE515;
}

[piterjs_now_descr] {
	text-align: center;
}

[piterjs_now_links] {
	flex-wrap: wrap;
}

[piterjs_now_hint] {
	text-align: center;
}

[piterjs_now_bids] {
	flex-wrap: wrap;
	justify-content: center;
}

@keyframes piterjs_now_logo_show {
	from {
		transform: scale(2);
		opacity: 0;
		z-index: -1;
	}
}
