[piterjs_now_title] {
	flex: 1000 1 auto;
}

[mol_view][piterjs_now_body] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

[piterjs_now_logo] {
	box-shadow: none;
	width: 50vmin;
}

[piterjs_now_links] {
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
}
