[piterjs_now_body] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

[piterjs_now_logo] {
	box-shadow: none;
	max-width: 50vmin;
	max-height: 50vmin;
}

[piterjs_now_links] {
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
}
