[piterjs_app] {
	--mol_theme_current: hsla(53, 93%, 78%, 1);
	--mol_theme_control: hsl(233, 63%, 20%);
	display: flex;;
}

[piterjs_app_screen]:before {
	content: '';
	display: block;
	height: 3.5rem;
	background: black;
	left: 0;
	width: 100%;
	top: 0;
	position: absolute;
}

[piterjs_app] [mol_theme="$mol_theme_base"] {
	--mol_theme_back: black;
	--mol_theme_text: white;
	--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
	--mol_theme_control: white;
	stroke: currentColor;
}

[piterjs_app] [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: #f7df1e;
	--mol_theme_text: black;
	--mol_theme_hover: hsl(53, 93%, 44%);
	stroke: currentColor;
}

[piterjs_app] > *:not([mol_book_page_visible]):not([mol_book_page_focused]) + *:before {
	left: .25rem;
}

[piterjs_app] [mol_page] ,
[piterjs_app] [mol_page_body] {
	box-shadow: none;
	background: none;
}

[piterjs_app] [mol_page_head] {
	padding: .5rem 1rem;
}

[piterjs_app_menu] {
	flex: 0 0 auto;
}

[piterjs_app_meetups] {
	padding: .5rem;
}

[piterjs_app] [mol_button_minor] {
	font-weight: bolder;
	color: var(--mol_theme_text);
	box-shadow: 0 0 0 2px #f7df1e;
}

[piterjs_app] [mol_button_minor]:hover {
	background: #f7df1e;
}

[piterjs_app_book_placeholder] {
	background: none;
}
