[piterjs_intro] {
	flex: auto;
	display: flex;
	font-size: 5vmin;
}

@keyframes piterjs_intro_screen_show {
	from {
		transform: rotateY( 90deg );
		opacity: 0;
	}
}

[piterjs_intro_screen] > *:not([piterjs_screen_lines]) {
	animation: piterjs_intro_screen_show .25s ease-out forwards;
}
